* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #fafafa;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0a3d62;
  padding: 10px 20px;
   box-sizing: border-box;
}


.navbar .logo { color: #fff; font-weight: bold; }
.nav-links { list-style: none; display: flex; gap: 15px; }
.nav-links a { color: #fff; text-decoration: none; }
.nav-links a.active { 
    font-weight: bold;
    text-decoration: none;
    color: #38ada9;
 }

.register{
    padding: 19px;
    margin: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
}


.hero {
  text-align: center;
  padding: 60px 20px;
  background: url('../assets/images/marathon-banner.jpg') center/cover no-repeat;
  color: white;
}
label{
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300%;
   
}
.info{
    padding: 10px;
}
.info ul{
    padding-left: 15px;
    padding-top: 15px;
}
input{
    border: none;
    padding: 5px;
    width: 100%;
    height: 25px;
    border-radius: 5px;
}

select{
    width: 100%;
    border-radius: 5px;
    height: 25px;
    border: none;
}

.btn {
    border: none;
    width: 80%;
    margin: 5px auto ;
    text-align: center;
  display: block;
  padding: 10px 20px;
  background: #38ada9;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  
}
.btn:hover{
    background-color: orange;
    font-weight: bold;
    color: blue;
    border: dashed;
}

footer {
  text-align: center;
  background: #0a3d62;
  color: white;
  padding: 15px 0;
  margin-top: 40px;

}
footer a{
    color: green;
}
